<ul id="links">
	<li>
		<a id="plain">Visit Projects to see what I have made</a>	
	</li>
	<br>
	<li>
		<a href="https://www.ksl.com">KSL News</a>	
	</li>
	<br>
	<li>
		<a href="https://www.karenchidester.com">My Wordpress Site</a>	
	</li>
</ul>