body {
  	padding: 50px;
  	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  	background-image: url('./../images/CoolRock.jpg');
  	background-size: 100%;
	background-repeat: no-repeat;	
}

a {
  color: #0000a0;
}

#description {
	margin: auto;
	font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#plain {
	font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
	color: #808080;
}

#content {
	background-color: white;
	height: 50%;
	opacity: .6;
}

#links{
	display: inline;
}

