body {
  	padding: 50px;
  	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  	background-image: url('./../images/CoolRock.jpg');
  	background-size: 100%;
	background-repeat: no-repeat;	
}

a {
  color: #00B7FF;
}

#content {
	background-color: white;
	width: 80%;
	height: 20%;
	opacity: .6;
}